/* line 1, /Users/robert/Desktop/test/middleman-mau-mau.ch/source/stylesheets/style.scss */
body {
  background: red; }

/* line 6, /Users/robert/Desktop/test/middleman-mau-mau.ch/source/stylesheets/style.scss */
nav {
  width: 80%; }

/* line 10, /Users/robert/Desktop/test/middleman-mau-mau.ch/source/stylesheets/style.scss */
#container {
  width: 80%; }
